<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>glx</string>
    <key>description</key>
    <string>Syntax highlighting for Reflex .glx stylesheet files</string>
    <key>uuid</key>
    <string>4CFCBEF2-3DAF-464E-AE65-C640E30D5BE2</string>
</dict>
</plist>
