inherit: "../common.cfg";

name: "C++ App";

description:
"#h Summary:

#p Desktop/mobile non-audio app using the Reflex C++ API.

#h Supported platforms:

<bullets>
#li Windows
#li macOS
#li Android
#li iOS
</bullets>";
