inherit: "../common.cfg";

name: "C++ AudioApp / Plugin";

description:
"#h Summary:

#p AudioApp / Plugin using the Reflex C++ API.

#h Supported platforms:

<bullets>
#li Windows (Standalone | VST3 | CLAP)
#li macOS (Standalone | AU | VST3 | CLAP)
#li Android
#li iOS
</bullets>";
